*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #d5d3e9;
}
.header{
    max-width: 1300px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    &__logo{
        width: 50px;
        height: 50px;
    }
    &__linkv{
        text-decoration: none;
        color: #000;
    }
}
.nav__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 50px;
}
.fullscrin {
    max-width: 1600px;
    height: 100vh;
    background-color: #d5d3e9;
    margin: 0 auto;
}
.header__body {
    max-width: 1300px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}
.text__box {
    width: 50%;
    height: 600px;
    &-h{
        font-size: 70px;
        color: #000;
        font-weight: 700;
    }
    &-text{
    color: #000000;
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-top: 20px;
    }
    &-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 211, 211);
    width: 150px;
    height: 45px;
    border-radius: 2px;
    margin: 30px 0 0 30px;
    color: #2a2828;
    cursor: pointer;
    transition: 1s;
    }
    &-button:hover{
        background-color: rgba(10, 4, 70, 0.588);
    }
}
.main{
    max-width: 1300px;
    background-color: #d5d3e9;
    margin: 0 auto;
}
.book__conteiner{
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0 0;
    &-con{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &-con_photo{
        width: 330px;
        height: 250px;
        justify-content: space-around;
        display: flex;
    }
    &-con_button{
        display:flex;
        padding: 18px 43px 19px 43px;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
    }
}
.info{
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0 0;
    &__text-box{
        width: 45%;
        height: 300px;
    }
    &__text-box_h{
        color: #141414;
        font-family: Playfair Display;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; 
        letter-spacing: -0.45px;
    }
    &__text-box_text{
        color: #555;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 165%; 
    }
    &__photo-box{
        width: 500px;
        height: 500px;
    }
}

