*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
.fulescrinV{
    max-width: 1600px;
    height: 100vh;
    background-image: url(./img/1\ 1.png);
}
.header{
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    &__body_logo{
        width: 50px;
        height: 50px;
    }
    &__body{
        max-width: 100%;
        height: 50px;
        border: 1px solid #ffffff;
        border-radius: 40px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        margin: 50px 0 0 0;
    }
    &__content{
        max-width: 765px;
        height: 500px;
        margin: 70px 0 0 0;
    }
    &__content_h{
        font-size: 64px;
        font-weight: 700;
        margin: 0 0 30px 70px;
        color: #fff;
    }
    &__content_text{
        margin: 0 0 0 70px;
        color: #ffffff;
        font-weight: 400;
        font-size: 20px;
    }
    &__content_button{
        width: 160px;
        height: 50px;
        border-radius: 10px;
        border: 3px solid #ffffff;
        margin: 30px 0 0 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        cursor: pointer;
        transition: 1s;
    }
    &__content_button:hover{
        background-color: #00000046;
    }
}
.nav__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 50px;
    &_li{
        margin: 0 20px 0 20px;
    }
}
.header__linkv{
    color: #000000;
    text-decoration: none;
}

.main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}